<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PD_Computer.My.MySettings.mysql_116925_pdpcConnectionString"
            connectionString="server=my03.winhost.com;user id=kylew;database=mysql_116925_pdpc;allowuservariables=True;password=Kmankx23;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>